.container {
  width: 100%;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content {
  border: 1px solid #660099;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
