* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
p,
a {
  font-size: 16px;
}

body {
  font-family: 'Rubik', sans-serif;
}
#container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.landing {
  height: 100%;
  width: 100%;
  background: #000000;
  color: #fff;
  position: relative;
}
.top {
  position: absolute;
  left: 40%;
}
.bottomright {
  position: absolute;
  top: 40%;
  right: 0;
}
.bottomleft {
  position: absolute;
  top: 40%;
  left: 0;
}
.landing-header {
  position: absolute;
  width: 100%;
  height: 7.4375rem;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.landing-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-header nav {
  width: 38%;
  height: 75%;
  margin-right: 6.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.landing-header nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 2.625rem;
}
.landing-header button {
  width: 120px;
  height: 40px;
  margin-right: 22px;
}
.landing-content {
  height: calc(100vh - 7.4375rem);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}
.landing-content .left {
  width: 55vw;
}
.landing-content .right {
  width: 45vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.landing-content .right img {
  height: 230px;
  width: 230px;
  position: absolute;
}
.img-1 {
  left: 30%;
}
.img-2 {
  top: 23%;
}
.img-3 {
  top: 63%;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left h1 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 80px;
  width: 447px;
  height: 160px;
}
.left p {
  width: 539px;
  height: 90px;
  margin-top: 24px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.left button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
  gap: 8px;
  width: 333px;
  height: 64px;
  background: #660099;
  border-radius: 5px;
  margin-top: 32px;
  color: #fff;
  font-size: 24px;
  border: none;
  opacity: 70%;
  transition: 1s linear;
}
.left button:hover {
  opacity: 100%;
}
